<div class="popup">
    <div class="popup_background"></div>
    <div class="popup_window">
        <div class="popup_header">
            <div class="popup_text">Question {{this.question_id + 1}} / {{this.question_count + 1}} | Results {{this.right_answer}} / {{this.wrong_answer}}</div>
            <div class="popup_close"><i class="fas fa-times" (click)="hideEditQuestion()"></i></div>
        </div>
        <div class="popup_content">
            <div class="popup_form">
                <div class="popup_form_header">
                    Question
                </div>
                <div class="popup_form_data">
                    <div class="formatted_text">{{this.question}}</div>
                </div>
            </div>
            <div class="popup_form">
                <div class="popup_form_header">
                    Your Answer
                </div>
                <div class="popup_form_data">
                    <textarea [(ngModel)]="your_answer"></textarea>
                </div>
            </div>
            <div class="popup_form" *ngIf="this.show_answer">
                <div class="popup_form_header">
                    Actual Answer
                </div>
                <div class="popup_form_data">
                    <br />
                    <span class="formatted_text">{{this.answer}}</span>
                </div>
            </div>
            <div class="popup_options" *ngIf="this.show_answer">
                <div class="button" (click)="answerResult(true)">
                    Correct
                </div>
                <div class="button" (click)="answerResult(false)">
                    Wrong
                </div>
            </div>
            <div class="popup_options">
                <div class="button" (click)="previousQuestion()">
                    Previous
                </div>
                <div class="button" (click)="toggleAnswer()">
                    {{this.answer_button}}
                </div>
                <div class="button" (click)="nextQuestion()">
                    Next
                </div>
            </div>
        </div>
    </div>
</div>