<h2>Questions for %subject%</h2>
<br />
<div class="object">
  <div class="object_header">
    Sample Question
  </div>
  <div class="object_footer">
    <i class="fas fa-edit"></i> <i class="fas fa-trash" (click)="showDelete(0)"></i>
  </div>
</div>
<div class="object_spacer"></div>
<div class="object">
  <div class="object_header">
    Sample Question
  </div>
  <div class="object_footer">
    <i class="fas fa-edit"></i> <i class="fas fa-trash" (click)="showDelete(0)"></i>
  </div>
</div>
<div class="object_spacer"></div>
<div class="object_bottom">
  <div class="object_add">
    <i class="fas fa-plus"></i> Add
  </div>
</div>