<div class="object_top">
  <div class="object_title">
    Questions for {{this.sharedService.subject_name}}
  </div>
  <div class="object_add">
    <i class="fas fa-play" (click)="showRunQuestions()"></i>
    &nbsp;
    <i class="fas fa-plus" (click)="showAddQuestion()"></i>
  </div>
</div>
<div *ngFor="let question of this.sharedService.questions">
  <div class="object">
    <div class="object_header">
      {{question.question}}
    </div>
    <div class="object_footer">
      <i class="fas fa-edit" (click)="showEditQuestion(question.id)"></i> <i class="fas fa-trash" (click)="showDeleteQuestion(question.id)"></i>
    </div>
  </div>
  <div class="object_spacer"></div>
</div>