<delete-subject *ngIf="this.sharedService.delete_subject"></delete-subject>
<edit-subject *ngIf="this.sharedService.edit_subject"></edit-subject>
<add-subject *ngIf="this.sharedService.add_subject"></add-subject>
<add-question *ngIf="this.sharedService.add_question"></add-question>
<delete-question *ngIf="this.sharedService.delete_question"></delete-question>
<edit-question *ngIf="this.sharedService.edit_question"></edit-question>
<run-questions *ngIf="this.sharedService.run_questions"></run-questions>
<error-popup *ngIf="this.sharedService.error"></error-popup>
<div class="container">
  <div class="top">
    <div class="banner">
      <div class="logo">
        Study Helper
      </div>
      <div class="nav">
        <div class="nav_items">
          <div class="nav_item">
            <a routerLink="/" routerLinkActive="active">Home</a>
          </div>
          <div class="nav_item">
            <a routerLink="/subjects" routerLinkActive="active">Subjects</a>
          </div>
          <div class="nav_item">
            Logout
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="body">
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="footer">
    <div class="footer_content">
      &copy; 2020 <a href="https://www.cameronmcguffie.com" target="_blank">Cameron McGuffie</a>
    </div>
  </div>
</div>