<div class="popup">
    <div class="popup_background"></div>
    <div class="popup_window">
        <div class="popup_header">
            <div class="popup_text">Edit Question</div>
            <div class="popup_close"><i class="fas fa-times" (click)="hideEditQuestion()"></i></div>
        </div>
        <div class="popup_content">
            <div class="popup_form">
                <div class="popup_form_header">
                    Question
                </div>
                <div class="popup_form_data">
                    <textarea [(ngModel)]="this.sharedService.question_data"></textarea>
                </div>
            </div>
            <div class="popup_form">
                <div class="popup_form_header">
                    Answer
                </div>
                <div class="popup_form_data">
                    <textarea [(ngModel)]="this.sharedService.answer_data"></textarea>
                </div>
            </div>
            <div class="popup_options">
                <div class="button" (click)="doEdit()">
                    Save
                </div>
            </div>
        </div>
    </div>
</div>