<div class="object_top">
    <div class="object_title">
        Welcome
    </div>
</div>
This is my sandbox Angular project. I'm still working on it, I needed something to help me study for uni and this idea
was born. Eventually it will have a full login system, for now it is only a subject/question managing software :) it has
no security <u>yet</u>.
<br /><br />
The mobile view is kind of broken, I've been playing with some new CSS conepts which is why some things are a little
messy but they will become tidy!
<br /><br />
Feel free to look around, you can run this locally and it will talk back to my API endpoint! Any pointers or pull
requests are always considered!